 @import url('https://fonts.googleapis.com/css?family=Cabin|Herr+Von+Muellerhoff|Source+Sans+Pro:400,900&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Quattrocento:wght@700&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding : 40px 100px;
  z-index : 100000;
}

.logo{
  position: relative;
  color:  #1496bb;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
}

.nav-list{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item{
  position: relative;
  list-style: none;
  margin: 0 15px;
  letter-spacing: 2px;
  font-weight: 500px;
  font-family: 'Lato', cursive;
  transition: 0.5s;
  font-size: 1rem;
}

.nav-link{
  text-decoration: none;
  color:  #1496bb;
}

.sticky{ 
  padding: 10px 100px;
  background-color: #fff;
}

.sticky .logo
{
  color:  #1496bb;;
}

.sticky .burger div{
  background-color:  #1496bb;
}

.sticky .nav-link{
  color:  #1496bb;;
  padding-top: .5rem;
}
.burger{
  display: none;
}
.burger div{
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width:768px){

  body{
    overflow-x: hidden;
  }
  .sticky{ 
    background-color: #fff;
    padding-top: 40px;
  }
  .sticky .burger{ 
    margin-bottom: 15PX;
  }

  .sticky .logo{ 
    margin-bottom: 15PX;
  }
  .nav-list{
    position: absolute;
    right: 0px;
    height: 100vh;
    top: 88px;
    background-color: white;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 2rem;
    line-height: 5rem;
    font-weight: 1200;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }



  .logo{
    font-size: 1.4rem;
  }

  .burger{
    display: block;
    margin-left: 1rem;
  }

  .nav-list li{
    opacity: 0;
  }

  .nav-active{
    transform: translateX(0%);
  }
}
/*End nav*/

.section-a .container{
display: grid;
grid-template-columns: 1fr 1fr;
align-items: center;
justify-content: center; 

}

.section-a{
  position: relative;
  height: 100vh;
  width: 100%;
  background: #000
}


.name-span{
  margin-left: 4rem;
  font-size: 1.9rem;
  letter-spacing: .4px;
  color: #fff;
  font-family: 'Playfair Display', serif;
}

.d{
  margin-left: 9px;
}
.l{
  margin-left: 9px;
}
.description{
  color:  #fff;
  font-size: 1.8rem;  
  margin-top: 1rem;
  font-family: 'Playfair Display', serif;
  margin-left: 2.8rem;
}

.home-page{
  margin-top: 3rem;
  margin-left: 10rem;
}

.social-icons{
  display: flex;
  justify-content: space-between;
}

.logo-two{

  width: 55%;
  margin-top: 5rem;
  margin-left: 8rem;
}

.name:hover{
  display: inline-block;
  animation: rubberBand 1s;
  color: #fb0c54;
}

.logo-two:hover{
  animation: rubberBand 1s;
}


/*End section hero */

.section-b
{
	width: 100%;
  height: 100vh;
  overflow: hidden;
	background:black;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}

.about-me{
  position: absolute;
  top: 40%;
  transform: translateX(50%);
  width: 50%;
  text-align: center;
  font-size: 1.5rem;
  color: #43ABC9;
  font-weight: 900;

}
 .section-b img{
   opacity: 0.8;
 }

.about-me h2{
  font-family: 'Quattrocento', serif;
  font-size: 2.5rem;
  color: #1496bb;
  margin-top: 1rem;
}
.about-me p{
  margin-top: 3rem;
  font-weight: 300;
  font-family: 'Playfair Display', serif;

}


.section-d h1{
  text-align: center;
  font-family: 'Quattrocento', serif;
  font-size: 3rem;
  color:  #1496bb;
  font-size: 3REM;
  padding-top: 3rem; 
  text-transform: uppercase;
}

.case-studies-list {
  margin: 0;
  padding: 80px 0 80px 0;
  list-style: none; }

.case-studies-list li {
  margin-bottom: 135px; }

.case-studies-list li:last-child {
  margin-bottom: 0; }

.case-studies-list .case-study {
  display: block;
  width: 100%;
  height: 100%;
  width: 80%;
  opacity: 1;
  height: 480px;
  position: relative;
  box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 0.45);
  margin-left: auto;
  margin-right: auto;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all .35s ease; }

.case-studies-list .case-study .btn {
  font-size: 15px; }

.case-studies-list .case-study .case-study-title {
  font-size: 50px;
  font-weight: 500; }

.case-studies-list .case-study .case-study-subtitle {
  font-size: 27px;
  font-weight: normal;
  font-style: italic; }

.case-studies-list .case-study:before {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: block;
  content: " ";
  background: #1c1d25;
  opacity: .6;
  transition: opacity .3s ease;
  z-index: 2; }

.case-studies-list .case-study .case-study-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0; }

.case-studies-list .case-study .case-study-mask:after {
  content: "";
  position: absolute;
  top: 0;
  opacity: 1;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(28, 29, 37, 0.9);
  background: linear-gradient(270deg, rgba(35, 90, 166, 0.9), rgba(16, 27, 59, 0.9));
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  transition: opacity 0.2s, -webkit-transform 0.35s cubic-bezier(0.694, 0.048, 0.335, 1) 0.2s;
  transition: transform 0.35s cubic-bezier(0.694, 0.048, 0.335, 1) 0.2s, opacity 0.2s;
  transition: transform 0.35s cubic-bezier(0.694, 0.048, 0.335, 1) 0.2s, opacity 0.2s, -webkit-transform 0.35s cubic-bezier(0.694, 0.048, 0.335, 1) 0.2s;
  z-index: 9; }

.case-studies-list .case-study .case-study-reveal-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  z-index: 100; }

.case-studies-list .case-study .case-study-reveal-mask:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1c1d25;
  background: linear-gradient(270deg, #235aa6, #101b3b);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  transition: -webkit-transform 0.4s cubic-bezier(0.694, 0.048, 0.335, 1) 0.15s;
  transition: transform 0.4s cubic-bezier(0.694, 0.048, 0.335, 1) 0.15s;
  transition: transform 0.4s cubic-bezier(0.694, 0.048, 0.335, 1) 0.15s, -webkit-transform 0.4s cubic-bezier(0.694, 0.048, 0.335, 1) 0.15s;
  z-index: 101; }

.case-studies-list .case-study .case-study-mask-number {
  font-size: 16em;
  display: none; }

.case-studies-list .case-study .case-study-text-section {
  position: absolute;
  left: 90px;
  bottom: 90px;
  color: #fff;
  z-index: 10;
  max-width: 550px;
  -webkit-transform: scale(1) translateX(0);
  transform: scale(1) translateX(0);
  transition: opacity .25s,-webkit-transform .45s;
  transition: transform .45s,opacity .25s;
  transition: transform .45s,opacity .25s,-webkit-transform .45s; }

.case-studies-list .case-study .case-study-subtitle {
  font-family: LibreBaskerville-Regular,Palatino Linotype,Times New Roman,serif;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 20px; }

.case-studies-list li:nth-child(even) .case-study .case-study-text-section {
  left: auto;
  text-align: right;
  right: 90px; }

.case-studies-list li:nth-child(even) .case-study .case-study-mask-number {
  right: auto;
  left: -45px; }

.case-studies-list li:last-child .case-study {
  margin-bottom: 0; }

  @media only screen and (min-width: 64em) {
    .case-studies-list li:nth-child(even) .case-study {
      -webkit-transform: translateX(-25px);
      transform: translateX(-25px); }
    .case-studies-list li:nth-child(odd) .case-study {
      -webkit-transform: translateX(25px);
      transform: translateX(25px); }
    .case-studies-list .case-study .case-study-mask-number {
      display: block;
      position: absolute;
      top: -40px;
      right: -45px;
      width: 265px;
      height: 198px;
      font-size: 11.5625em;
      overflow: hidden;
      font-family: League Spartan,Helvetica,Arial,sans-serif;
      color: #99999d;
      -webkit-transform: translateY(15px);
      transform: translateY(15px);
      opacity: 0;
      transition: opacity 0.3s, -webkit-transform 0.45s cubic-bezier(0.694, 0.048, 0.335, 1);
      transition: opacity 0.3s, transform 0.45s cubic-bezier(0.694, 0.048, 0.335, 1);
      transition: opacity 0.3s, transform 0.45s cubic-bezier(0.694, 0.048, 0.335, 1), -webkit-transform 0.45s cubic-bezier(0.694, 0.048, 0.335, 1);
      z-index: 90; }
    .case-studies-list .case-study .case-study-mask-back, .case-studies-list .case-study .case-study-mask-front {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
    .case-studies-list .case-study .case-study-mask-overlay {
      overflow: hidden;
      position: relative;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
      color: transparent; }
    .case-studies-list .case-study .case-study-mask-overlay, .case-studies-list .case-study .case-study-mask-overlay:before {
      transition: -webkit-transform 0.6s cubic-bezier(0.694, 0.048, 0.335, 1) 0s;
      transition: transform 0.6s cubic-bezier(0.694, 0.048, 0.335, 1) 0s;
      transition: transform 0.6s cubic-bezier(0.694, 0.048, 0.335, 1) 0s, -webkit-transform 0.6s cubic-bezier(0.694, 0.048, 0.335, 1) 0s; }
    .case-studies-list .case-study .case-study-mask-overlay:before {
      content: attr(data-index);
      position: absolute;
      top: 0;
      left: 0;
      color: #fff;
      text-shadow: 5px 5px 11px rgba(74, 74, 74, 0.5);
      width: 100%;
      height: 100%;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0); }
    .case-studies-list .case-study .case-study-text-section {
      opacity: 1;
      -webkit-transform: scale(1) translateY(0);
      transform: scale(1) translateY(0);
      transition-delay: .4s; }
    .case-studies-list .case-study:hover {
      -webkit-transform: scale(0.99);
      transform: scale(0.99);
      box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 0.65); }
    .case-studies-list .case-study:hover .case-study-mask:after {
      -webkit-transform: translateX(0);
      transform: translateX(0); }
    .case-studies-list .case-study:hover .case-study-mask-number {
      opacity: 1;
      -webkit-transform: translateY(0);
      transform: translateY(0); }
    .case-studies-list .case-study:hover .case-study-mask-overlay, .case-studies-list .case-study:hover .case-study-mask-overlay:before {
      transition-delay: .4s;
      -webkit-transform: translateZ(0);
      transform: translateZ(0); }
    .case-studies-list .case-study:hover .case-study-text-section {
      -webkit-transform: scale(1.05);
      transform: scale(1.05); }
    .case-studies-list .case-study.is-hidden .case-study-reveal-mask:after {
      -webkit-transform: translateX(0);
      transform: translateX(0); }
    .case-studies-list .case-study.is-hidden .case-study-text-section {
      -webkit-transform: translateY(50px);
      transform: translateY(50px);
      opacity: 0; } }
  
  @media only screen and (max-width: 56.25em) {
    .case-studies-list .case-study {
      width: 90%;
      height: 420px; } }
  
  @media only screen and (max-width: 41.25em) {
    .case-studies-list .case-study {
      height: 340px;
      margin-bottom: 60px; }
    .case-studies-list .case-study .case-study-text-section {
      left: 45px;
      bottom: 60px;
      max-width: 500px; }
    .case-studies-list .case-study .case-study-subtitle {
      font-size: .75em; }
    .case-studies-list li:nth-child(even) .case-study .case-study-text-section {
      right: 45px; } }
  
  @media only screen and (max-width: 25em) {
    .case-studies-list .case-study {
      width: 95%;
      height: 290px; }
    .case-studies-list .case-study .case-study-title {
      font-size: 2.725em; }
    .case-studies-list .case-study .case-study-subtitle {
      font-size: 1.725em;
      font-weight: 100;
      opacity: .8; }
    .case-studies-list .case-study .case-study-text-section {
      left: 25px;
      bottom: 50px; }
    .case-studies-list .case-study .btn {
      font-size: 0.9125em;
      padding: 12px 20px; }
      .case-studies-list .case-study .btn .btn-icon {
        top: 1px; } }
  
  /* Styling Section*/
  .section-heading {
    text-align: center;
    margin-top: 35px;
    letter-spacing: 2px;
    font-weight: 600;
    margin-bottom: 100px; }
    .section-heading .heading {
      font-size: 12px;
      color: #b19386;
      margin-bottom: 25px; }
    .section-heading .subheading {
      color: #4a4a4a;
      font-size: 28px;
      font-weight: 800; }
  
  /* Experiments*/
  .experiments-container {
    width: 100%;
    position: relative; }
    .experiments-container .inner-container:after {
      content: '';
      clear: both; }
    .experiments-container .inner-container .experiment {
      backface-visibility: hidden;
      display: block;
      float: left;
      clear: none;
      width: 25%;
      margin-left: 0;
      margin-right: 0;
      height: 418px;
      position: relative;
      overflow: hidden;
      text-align: center;
      background-color: #fff;
      box-shadow: 0 20px 60px 0 rgba(0, 0, 0, 0.15);
      transition: all .45s ease; }
      .experiments-container .inner-container .experiment:nth-child(1) .experiment-number-area:after {
        content: '01'; }
      .experiments-container .inner-container .experiment:nth-child(2) .experiment-number-area:after {
        content: '02'; }
      .experiments-container .inner-container .experiment:nth-child(3) .experiment-number-area:after {
        content: '03'; }
      .experiments-container .inner-container .experiment:nth-child(4) .experiment-number-area:after {
        content: '04'; }
      .experiments-container .inner-container .experiment .experiment-mask {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fce0db;
        transition: 0.4s cubic-bezier(0.52, 0.01, 0.16, 1);
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        z-index: 1; }
      .experiments-container .inner-container .experiment .experiment-circle {
        display: block;
        position: relative;
        width: 100%;
        z-index: 10; }
        .experiments-container .inner-container .experiment .experiment-circle .experiment-img {
          width: 230px;
          height: 230px;
          background-color: #1c1d25;
          border-radius: 50%;
          display: block;
          margin: 45px auto 30px;
          box-shadow: 0 15px 40px 1px rgba(0, 0, 0, 0.15);
          background-position: 50%;
          background-size: cover;
          background-repeat: no-repeat;
          transform: scale(1);
          transition: transform .3s ease,-webkit-transform .3s ease; }
      .experiments-container .inner-container .experiment .experiment-title-area {
        position: absolute;
        top: 85%;
        left: 12%;
        text-align: left;
        z-index: 10;
        color: #1c1d25; }
        .experiments-container .inner-container .experiment .experiment-title-area .experiment-title-label {
          position: relative;
          font-size: .925em;
          text-transform: uppercase;
          letter-spacing: 1px;
          font-weight: 700; }
          .experiments-container .inner-container .experiment .experiment-title-area .experiment-title-label:before {
            content: '';
            position: absolute;
            top: .6em;
            left: -12px;
            height: 1px;
            background-color: #1c1d25;
            width: 7px; }
        .experiments-container .inner-container .experiment .experiment-title-area .experiment-title {
          font-weight: 500;
          margin-top: 3px;
          font-size: 1.175em; }
      .experiments-container .inner-container .experiment .experiment-number-area {
        position: absolute;
        top: 90%;
        right: 10%;
        transform: rotate(90deg);
        z-index: 10; }
        .experiments-container .inner-container .experiment .experiment-number-area:before, .experiments-container .inner-container .experiment .experiment-number-area:after {
          position: absolute;
          -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
          right: 112%;
          transition: 0.45s cubic-bezier(0.52, 0.01, 0.16, 1); }
        .experiments-container .inner-container .experiment .experiment-number-area:before {
          content: "";
          top: 45%;
          height: 2px;
          background-color: #1c1d25;
          width: 30px; }
        .experiments-container .inner-container .experiment .experiment-number-area:after {
          margin-top: -4px;
          top: 5px;
          /*content: '01';*/
          text-align: right;
          font-size: 8px;
          font-weight: 700;
          padding-right: 40px; }
      .experiments-container .inner-container .experiment:hover .experiment-circle .experiment-img {
        transform: scale(1.1); }
      .experiments-container .inner-container .experiment:hover .experiment-mask {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        transition-delay: .25s; }
      .experiments-container .inner-container .experiment:hover .experiment-number-area:before {
        -webkit-transform: scaleX(1.3);
        transform: scaleX(1.3); }
      .experiments-container .inner-container .experiment:hover .experiment-number-area:after {
        -webkit-transform: translateX(-15px);
        transform: translateX(-15px);
        transition-delay: .12s; }
  
  .experiments-container::after {
    content: '';
    clear: both; }
  
  @media only screen and (max-width: 56.25em) {
    .experiment {
      width: 50% !important; } }
  
  @media only screen and (max-width: 25em) {
    .experiment {
      width: 100% !important; } }

      .social-icons {
        display: -webkit-box;
        display: flex;
      }
      
      .social-icon {
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
                align-items: center;
        -webkit-box-pack: center;
                justify-content: center;
        position: relative;
        width: 80px;
        height: 80px;
        margin: 0 0.5rem;
        border-radius: 50%;
        cursor: pointer;
        font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
        font-size: 2.5rem;
        text-decoration: none;
        -webkit-transition: all 0.15s ease;
        transition: all 0.15s ease;
      }
      .social-icon:hover {
        color: #fff;
      }
      .social-icon:hover .tooltip {
        visibility: visible;
        opacity: 1;
        -webkit-transform: translate(-50%, -150%);
                transform: translate(-50%, -150%);
      }
      .social-icon:active {
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5) inset;
      }
      .social-icon--linkedin {
        background: #006599;
        color: #fff;
      }
      .social-icon--linkedin .tooltip {
        background: #006599;
        color: currentColor;
      }
      .social-icon--linkedin .tooltip:after {
        border-top-color: #006599;
      }
      .social-icon--twitter {
        background: #2b97f1;
        color: #fff;
      }
      .social-icon--twitter .tooltip {
        background: #2b97f1;
        color: currentColor;
      }
      .social-icon--twitter .tooltip:after {
        border-top-color: #2b97f1;
      }

      .social-icon--facebook {
        background: #3b5a9b;
        color: #fff;
      }
      .social-icon--facebook .tooltip {
        background: #3b5a9b;
        color: currentColor;
      }
      .social-icon--facebook .tooltip:after {
        border-top-color: #3b5a9b;
      }
      .social-icon--instagram {
        background: #527fa6;
        color: #fff;
      }
      .social-icon--instagram .tooltip {
        background: #527fa6;
        color: currentColor;
      }
      .social-icon--instagram .tooltip:after {
        border-top-color: #527fa6;
      }
      .social-icon--github {
        background: #4284c0;
        color: #fff;
      }
      .social-icon--github .tooltip {
        background: #4284c0;
        color: currentColor;
      }
      .social-icon--github .tooltip:after {
        border-top-color: #4284c0;
      }
      .social-icon i {
        position: relative;
        top: 1px;
      }
      
      /* Tooltips */
      .tooltip {
        display: block;
        position: absolute;
        top: 0;
        left: 50%;
        padding: 0.8rem 1rem;
        border-radius: 40px;
        font-size: 0.8rem;
        font-weight: bold;
        opacity: 0;
        pointer-events: none;
        text-transform: uppercase;
        -webkit-transform: translate(-50%, -100%);
                transform: translate(-50%, -100%);
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        z-index: 1;
      }
      .tooltip:after {
        display: block;
        position: absolute;
        bottom: 1px;
        left: 50%;
        width: 0;
        height: 0;
        content: "";
        border: solid;
        border-width: 10px 10px 0 10px;
        border-color: transparent;
        -webkit-transform: translate(-50%, 100%);
                transform: translate(-50%, 100%);
      }
      
      .btn {
        font-size: 0.725em;
        letter-spacing: 3px;
        padding: 12px 20px;
        background-color: #f06449;
        background: linear-gradient(270deg, #f06449, #ef3636);
        color: #fff;
        position: relative;
        font-style: normal;
        transition: all 0.3s;
        overflow: visible;
        border: none;
        cursor: pointer;
     }
      .btn .btn-text {
        position: relative;
        z-index: 10;
     }
      .btn .btn-mask {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
     }
      .btn .btn-mask:after, .btn .btn .btn-mask:before {
        will-change: transform;
     }
      .btn .btn-mask:before {
        width: 100%;
        background-color: #1b2e63;
        background: linear-gradient(270deg, #235aa6, #101b3b);
        transition: -webkit-transform 0.6s cubic-bezier(0.694, 0.048, 0.335, 1) 0.05s;
        transition: transform 0.6s cubic-bezier(0.694, 0.048, 0.335, 1) 0.05s;
        transition: transform 0.6s cubic-bezier(0.694, 0.048, 0.335, 1) 0.05s, -webkit-transform 0.6s cubic-bezier(0.694, 0.048, 0.335, 1) 0.05s;
        z-index: 1;
     }
      .btn .btn-mask:after, .btn .btn .btn-mask:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        -webkit-transform: translateX(-110%);
        transform: translateX(-110%);
     }
      .btn .btn-mask:after {
        width: 80%;
        background-color: #26408b;
        background: linear-gradient(270deg, #235aa6, #213777);
        transition: -webkit-transform 0.6s cubic-bezier(0.694, 0.048, 0.335, 1);
        transition: transform 0.6s cubic-bezier(0.694, 0.048, 0.335, 1);
        transition: transform 0.6s cubic-bezier(0.694, 0.048, 0.335, 1), -webkit-transform 0.6s cubic-bezier(0.694, 0.048, 0.335, 1);
        z-index: 2;
     }
      .btn .btn-icon {
        position: absolute;
        top: 3px;
        right: -25px;
        width: 35px;
        height: 35px;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        transition: -webkit-transform 0.3s cubic-bezier(0.694, 0.048, 0.335, 1);
        transition: transform 0.3s cubic-bezier(0.694, 0.048, 0.335, 1);
        transition: transform 0.3s cubic-bezier(0.694, 0.048, 0.335, 1), -webkit-transform 0.3s cubic-bezier(0.694, 0.048, 0.335, 1);
     }
      .btn .btn-icon svg {
        width: 35px;
        height: 35px;
     }
      .btn .btn-icon svg path {
        fill: #484b5f;
     }
      .btn .btn-icon svg path {
        fill: #fff;
     }
      .btn:hover .btn-mask:before {
        transition: -webkit-transform 0.75s cubic-bezier(0.694, 0.048, 0.335, 1) 0.05s;
        transition: transform 0.75s cubic-bezier(0.694, 0.048, 0.335, 1) 0.05s;
        transition: transform 0.75s cubic-bezier(0.694, 0.048, 0.335, 1) 0.05s, -webkit-transform 0.75s cubic-bezier(0.694, 0.048, 0.335, 1) 0.05s;
     }
      .btn:hover .btn-mask:after {
        transition: -webkit-transform 0.75s cubic-bezier(0.694, 0.048, 0.335, 1);
        transition: transform 0.75s cubic-bezier(0.694, 0.048, 0.335, 1);
        transition: transform 0.75s cubic-bezier(0.694, 0.048, 0.335, 1), -webkit-transform 0.75s cubic-bezier(0.694, 0.048, 0.335, 1);
     }
      .btn:hover .btn-mask:after, .btn .btn:hover .btn-mask:before {
        -webkit-transform: translateX(200%);
        transform: translateX(200%);
     }
      .btn:hover .btn-icon {
        -webkit-transform: translateX(7px);
        transform: translateX(7px);
     }

     .contact{
       height: 40vh;
       display: flex;
       justify-content: center;
      align-items: center;
     }

     @media screen and (max-width: 640px){

      .section-a .container {
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
      }
    
      .name-span {
        order: 1;
        font-size: 1rem;
        text-align: center;
        margin-top: 1rem;
        margin-right: 30px;
      }

      .description{
        font-size: 1rem;
        text-align: center;
        margin-right: 20px;
      }
      .section-a img {
        order: -1;
        padding-top: 30%;
        width: 30%;
        max-height: auto;
        margin: auto;
      } 


      .section-b .container{
        display: grid;
        justify-content: center;
        text-align: center;
      }

      .section-b .container .about-me{
        position: relative;
      }

      .space{
        position: absolute;
        
        }
      .layer img{
        width: 90%;
        min-height: auto;
      }

      .about-me{
        position: absolute;
        top :0;
        font-size: .9rem;
      }
    } 
      
     
    
    @keyframes rubberBand{
      0%{
          transform: scale3d(1,1,1);
      }
      35%{
          transform: scale3d(1.25,0.75,1);
      }
      45%{
          transform: scale3d(.75,1,1);
      }
      60%{
          transform: scale3d(1.2,.8,1);
      }
      75%{
          transform: scale3d(1.05,.95,1);
      }
      100%{
          transform: scale3d(1,1,1);
      }
    }
  
    @keyframes navLinkFade{
      from{
        opacity: 0;
        transform: translateX(50px);
      }
      to{
        opacity: 1;
        transform: translateX(0px);
      }
    }

    .toggle .line1{
      transform: rotate(-45deg) translate(-5px, 6px);

    }
    .toggle .line2 {

    opacity: 0;      
    }
    .toggle .line3{

      transform: rotate(45deg) translate(-5px, -6px);
    }